*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding-top: 15px;
    background-color: #ffffff;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#head{
    display: flex;
    align-items: center;
}
header {
    width: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 15px 15px;
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    border-color: black;
}
header-content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; /* Add padding for spacing */
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
    transition: 1S; /* Adjusted spacing between menu items */
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffffff;
     /* Hover effect color change */
}